<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="employees" class="nav-link" routerLinkActive="active">Employee List</a>
    </li>
    <li class="nav-item">
        <a routerLink="employees/add" class="nav-link" routerLinkActive="active">Add Employee</a>
    </li>
    <li class="nav-item">
      <a routerLink="salaries" class="nav-link" routerLinkActive="active">Salary List</a>
    </li>
    <li class="nav-item">
      <a routerLink="salaries/add" class="nav-link" routerLinkActive="active">Add Salary</a>
    </li>
  </ul>
</nav>


<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <router-outlet></router-outlet>
</div>

<div class="card-footer" style="text-align: center; background-color: dodgerblue; color: white">
  Designed and developed by SSDD for HCL
</div>
